.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}

.calculator {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: var(--light);
  padding: 1rem;
}

.display {
  background-color: var(--dark);
  text-align: end;
  padding: 0.9rem;
  font-size: 1.7rem;
  margin-bottom: 1rem;
  color: var(--light);
}

.display > span {
  margin-right: 0.3rem;
  font-size: 1rem;
}

button {
  height: 3rem;
  border: none;
  color: var(--light);
  transition: all 0.2s ease-in-out;
}

button:hover {
  opacity: 0.8;
}

.operators {
  display: flex;
  flex-wrap: wrap;
}

.operators button {
  flex: 1 1 33%;
  max-width: 33%;
  background-color: var(--secondary);
}

.digits {
  display: flex;
  flex-wrap: wrap;
}

.digits button {
  flex: 1 1 33%;
  max-width: 33%;
  background-color: var(--dark);
}
